div{
	background-color: #F4D1D2;
	font-family:"Montserrat", monospace;
}
font -family
#empatyzacja{
background-color: #EAA9A9;
}

#kapelusze{
	widht:20%;
}

#problemy{
	background-color: #EA4362;
}

#rozwiązania{
	background-color: #E1193E;
}
.zle{

}